<div class="row">
    <div class="jumbotron-tc parallax-window" data-speed="0.5" data-parallax="scroll" data-image-src="assets/img/main.png" style="padding-top: 60vh; padding-bottom: 10vh; background:
url(assets/img/main.png) no-repeat center center fixed; background-size: cover;">
        <div class="container">
            <div class="row">
                <img src="assets/img/CBT.png" height="1200" width="900">
                <div class="col-md-2 hidden-sm hidden-xs"></div>
              
            </div>
        </div>
    </div>
</div>
