
<div class="row" style="background-image: url('assets/img/about-backdrop.jpg'); background-size: cover; height: 60%;">
    <div class="container about-banner">
        <div class="col-md-6"><img src="assets/img/about_game.png" class="about-banner-img" style="max-width: 100%; height: auto;"></div>
        <div class="col-md-6 ">
            <div class="about-banner-text">
                {{selectLang(this.lang)}}
                <h2>{{ translatedText[16] }}</h2>
                <p>{{ translatedText[17] }}</p>
            </div>
        </div>
    </div>
    <div class="about-gradient"></div>
</div>
<div class="container">
    <div class="row about">
        <img class="col-md-3" src="assets/img/about-1.png">
        <div class="col-md-6 about-description">
            <div class="about-description-text">
                <h2>{{ translatedText[18] }}</h2>
                <p>{{ translatedText[19] }}</p>
            </div>
        </div>
        <img class="col-md-3" src="assets/img/about-2.png">
    </div>
    <div class="row about">
        <div class="col-md-9 about-description">
            <div class="about-description-text">
                <h2>{{ translatedText[20] }}</h2>
                <p>{{ translatedText[21] }}</p>
                <h2>{{ translatedText[22] }}</h2>
                <p>{{ translatedText[23] }}</p>
            </div>
        </div>
        <img class="col-md-3" src="assets/img/about-3.png">
    </div>
</div>
