<!-- <div *ngFor="let stage of chapter.stages"> -->
<!--     <a (click)="selectStage(stage.id)">{{ stage.title }}</a> -->
<!-- </div> -->
<div id="levels" style="height: 100%;  opacity: 4">
    <!-- <div class="container profile" style="position:relative; width: 0px; height:0px; left:50px; top:50px;">
         <div id="stageclickfalse">
               <img  src="/assets/img/level-select-bg-CH1.png"    style="position:relative; width: 1800px; height: 900px; left: -950px; top: -70px; z-index: 1;">  
               <img src="/assets/img/level-select-path.png"  style="position:relative; width: 1200px; height: 600px; left: -630px; top: -810px; z-index: 2;">
         </div>
            <div  class="stageinfo" id="clicktoinfo"  style="width: 75px; height: 75px; position:relative; left:-705px; top:-974px; z-index: 3;">
                <span class="amount" >stage1</span>
                <div id="stageclick">
                 <span class="amounts"  style="width: 350px; height: 120px; position:relative; opacity: 1;" *ngIf=" setactivemission==true" >
                     <h3>목표</h3>
                             <p>이동하라라랄라라랄라라라라라라라 그리고 이겨리리리리리리리리리</p>
                      <span class="amounts"  style="width: 50px; height: 120px; position:relative; left:335px; top:-46px;  opacity: 4"> 
                          <img src="/assets/img/ic_play_arrow_white_24dp_2x.png" id="changeImage" style=" position:relative; width: 60px; height: 60px; left:-25px; top:-10px; ">
                          <img src="/assets/img/Statistics.png" style=" position:relative; width: 40px; height: 40px; left:-10px; top:0px;">
                      </span>
                </span>
              </div>
            </div>
         
    </div>-->
</div>
